body {
  font-family: "Vazirmatn", sans-serif;
  direction: rtl;
  background: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calendar-container {
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 400px;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.day-name {
  font-weight: bold;
  color: #555;
}

.day,
.empty {
  aspect-ratio: 1 / 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.day {
  background: #f9f9f9;
}

.day:hover {
  background: #e0e7ff;
  /* transform: scale(1.1); */
}

.selected {
  background: #ff4d4d !important;
  color: white;
  font-weight: bold;
  transform: scale(1.15);
}
.timestamp {
  margin-top: 15px;
  font-size: 0.9em;
  color: #777;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  height: 20px;
}
.timestamp.show {
  opacity: 1;
  transform: translateY(0);
}
